body{
    background-color: black;
    color: white;
}
strong{
    color: #FFA31A;
}
li{
    margin: 5px 0px;
}
code{
    color: #FFA31A;
    border: #7b7b7b solid 1px;
}
a{
    color: #FFA31A;
}



#home-page-btn{
    background-image: url("../image/logo.png");
    background-size: 100%;
    border: 0px;
    width: 150px;
    height: 50px;
    cursor: pointer;
}
.nav-tab{
    padding: 20px 50px;
    border-style: solid;
    border-color: #7b7b7b;
    border-width: 0px 0px 0px 1px;
    cursor: pointer;
}

/* Article */
.article-link{
    color: #FFA31A;
}
.article-title{
    display: block;
    font-size: 2em;
    margin: 1em 0em;
    font-weight: bold;
}
.article-content{
    font-size: 1em;
}


.topic-title{
    color: #FFA31A;
}

.ipy-btn{
    background-color: #FFA31A;
    color: black;
    font-size: x-large;
    font-weight: bold;
    cursor: pointer;
}

