@import "nav.css";
@import "article.css";

body{
    background-color: black;
    color: white;
}
strong{
    color: #FFA31A;
}
li{
    margin: 5px 0px;
}
code{
    color: #FFA31A;
    border: #7b7b7b solid 1px;
}
a{
    color: #FFA31A;
}
main{
    position: relative;
    top: 80px;
}


.topic-title{
    color: #FFA31A;
}
.pre-code{
    display: inline-block;
    color: #FFA31A;
    border: #7b7b7b 1px solid;
}
.ipy-btn{
    background-color: #FFA31A;
    color: black;
    font-size: x-large;
    font-weight: bold;
    cursor: pointer;
}

